{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Your Pending Shipments</h1>
        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th>Tracking Number</th>
                        <th>Status</th>
                        <th>Estimated Delivery</th>
                        <th>Actual Delivery</th>
                        <th>Address</th>
                        <th>Cost</th>
                        <th>Items</th>
                        <th>Receipt</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shipment in shipments %}
                        <tr>
                            <td>{{ shipment.id }}</td>
                            <td>
                                {% if shipment.shipment_status == "Pending" %}
                                    <a class="link link-warning"
                                       href="{% url 'confirm_order' pk=shipment.id %}">{{ shipment.get_shipment_status_display }}</a>
                                {% else %}
                                    {{ shipment.get_shipment_status_display }}
                                {% endif %}
                            </td>
                            <td>{{ shipment.estimated_delivery_date }}</td>
                            {% if shipment.actual_delivery_date == None %}
                                {% if shipment.shipment_status == "Pending" %}
                                    <td>Awaiting Payment</td>
                                {% else %}
                                    <td>Not Delivered Yet</td>
                                {% endif %}
                            {% else %}
                                <td>{{ shipment.actual_delivery_date }}</td>
                            {% endif %}
                            <td>{{ shipment.shipment_address }}</td>
                            <td>{{ shipment.shipment_cost }}</td>
                            <td>{{ shipment.item_count }}</td>
                            <td>
                                <a class="link link-primary"
                                   href="{{ shipment.transaction.checkout_url }}">View</a>
                            </td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="shipment_id" value="{{ shipment.id }}">
                                    <button class="btn btn-primary btn-sm">Confirm Delivery</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
